.topbar {
    background-color: var(--color-primary);
    
    .container {
        display: flex;
        justify-content: space-between;
        padding: 0;
      

        .address {
            color: var(--color-light);
            @include text;   
            padding: 15px;          
        }

        .social-media {
            display: flex;
            margin: auto 0;
            
           a {
            color: var(--color-light);
            border-left: 0.1px solid var(--color-border-light-transparent);
            border-right: 0.1px solid var(--color-border-light-transparent);
            padding: 15px;
          
           } 
        }
    }
}

.navbar{
    .container {
        display: flex; 
        justify-content: space-between;
        padding-bottom: 20px;  
        padding-top: 15px;  
        .menu {
            @include text;
            font-weight: 600;
            display: flex;
            width: 50%;
            justify-content: space-around;
            
        }
    }
   
}