#our-services {
    padding-top: 100px;

    .container {

        .headline {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h2 {
                width: 50%;
               text-align: center;
            }

        }
    }
}